* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100dvh;
  background-color: #14151d;
  color: #98959d;
}

#app {
  .button-container {
    background-color: #23242c;
    padding: 1.125rem 1.25rem;
    margin-top: 3rem;
    text-align: center;
  }
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9282fa;
  border-radius: 0.5rem;
}

.logo {
  background-color: #2e2c30;
  padding: 0.75rem 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 0.5rem;
}

.link {
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #666666;

  &:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

.button {
  background-color: #9282fa;
  box-shadow: 0px 0px 40px rgba(146, 130, 250, 0.3);
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: "Inter Tight", sans-serif;
  color: #050505;
  padding: 0.75rem 1.5rem;
  cursor: pointer;

  &:hover {
    background-color: #bdb4fa;
    box-shadow: 0px 0px 40px rgba(189, 180, 250, 0.5);
  }
}

.input {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 3rem;
  padding: 0.75rem;
  border: 1px solid #3e3c41;
  border-radius: 0.5rem;

  & i {
    display: flex;
    margin-right: 0.5rem;
  }

  & > input {
    flex: 1;
    background-color: transparent;
    outline: none;
    border: none;
    color: #98959d;
    font:
      400 1rem/1.5 "Inter",
      sans-serif;
    cursor: pointer;

    &::-webkit-calendar-picker-indicator {
      background: url(../assets/icons/arrow-down.svg) no-repeat center;
      cursor: pointer;
    }
  }

  &:hover {
    border: 1.5px solid #86818c;
  }

  &:focus-within {
    border: 1.5px solid #9282fa;

    & > input {
      color: #ffffff;
    }
  }
}

@media screen and (width >= 80rem) {
  #app {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;

    & .button-container {
      background-color: transparent;
      padding: 0 0 2.5rem;
      margin-top: initial;
      text-align: initial;
      align-self: flex-end;
    }
  }

  .input {
    flex: 1;
  }
}
