main {
  padding: 0.75rem 1.25rem;
  margin-top: 3.5rem;

  & > header {
    margin-bottom: 2rem;

    & h1 {
      font-family: "Inter Tight", sans-serif;
      color: #f5f4f5;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 0.25rem;
    }

    & p {
      font-size: 0.875rem;
      margin-bottom: 0.75rem;
    }
  }

  .schedules-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    & .period {
      background-color: #23242c;
      border-radius: 0.625rem;

      & > header {
        display: flex;
        align-items: center;
        padding: 0.75rem 1.25rem;
        border-bottom: 1px solid #2e2c30;

        & img {
          margin-right: 0.75rem;
        }

        & strong {
          font-family: "Inter Tight", sans-serif;
          color: #ffffff;
          margin-right: auto;
        }

        & span {
          font-family: "Inter Tight", sans-serif;
        }
      }

      & .period-list {
        list-style: none;
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & li {
          padding: 0.5rem;

          &:has(+ li) {
            border-bottom: 1px solid #353339;
          }

          & strong {
            font:
              700 0.875rem/1.5rem "Inter",
              sans-serif;
            color: #ffffff;
            margin-right: 0.75rem;
          }

          & .pet-data {
            display: inline-block;
            font-size: 0.875rem;
            line-height: 1.5rem;

            & b {
              color: #ffffff;
            }
          }

          & > .service {
            display: block;
            font-size: 0.875rem;
            line-height: 1.5rem;
          }

          & a {
            display: block;
            text-align: right;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }

  @media screen and (width >= 80rem) {
    max-width: 54.5rem;
    width: 100%;
    margin-inline: auto;
    padding: 2.5rem 0;
    grid-column: 2/3;

    & > header {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      & p {
        margin-bottom: initial;
      }
    }

    & .schedules-list {
      & .period {
        & .period-list {
          & li {
            padding: 1rem 0.75rem;
            display: flex;
            align-items: center;

            & > .service {
              display: initial;
              margin-left: auto;
            }

            & a {
              display: initial;
              margin-top: initial;
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}
