main {
  padding: 0.75rem 1.25rem;
  min-height: 100dvh;
  margin-top: 3.5rem;

  & header {
    margin-bottom: 2rem;

    & h1 {
      font-family: "Inter Tight", sans-serif;
      color: #f5f4f5;
      font-size: 1.5rem;
    }

    & p {
      font-size: 0.875rem;
      margin-bottom: 0.75rem;
    }
  }

  @media screen and (width >= 80rem) {
    padding: 5rem;
  }
}
